
h2{
    position: relative;
    margin: 0;
    padding: 20px 0 20px 0;
    text-indent: 6%;
    font-size: 1.5rem;
}
.process__container{
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 10px 0;
}

.process__btn{
@extend %button__base
}
.process__btn:hover{
    background-color: $color-primary-low;
    
    .process__icon{
        color: $color-primary;
        opacity: 1;
    }
}
    
.process__number{
    color: white;
    background-color: $color-primary;
    border-radius: 60px;
    padding: 6.5px 10px;
    position: absolute;
    left: -10px;
    top: 31%;
    font-size: 12px;
}

.process__icon{
    padding: 0 15px;
    font-size: 18px;
    opacity: 0.55;
}