.loader__container{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: done 0s 2.8s forwards, fadeout 3s 1s ease-in-out ;    
}

.loader__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
    @extend %gradient_bg;
    color: white;
    font-family: Shrikhand, sans-serif;
    font-weight: 500;
    font-size: 28px;
    width: 200px;
    height: 200px;
    animation: done 0s 2.8s forwards;
}

.loader__circle__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader__circle1, .loader__circle2, .loader__circle3{
    border: 2px solid;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 60%;
    animation: spin 1s linear infinite,done 0s 2.8s forwards ; 
    box-shadow: 3px 3px 0px -2px white;
    
}

.loader__circle1{
    border-color: $color-primary ;
    top: 0.25%;
    right:-2%;
    
    
}
.loader__circle2{
    border-color: $color-secondary ;
    top: -2.5%;
    right:-2%;
    
    
}
    

.loader__circle3{
    border-color: $color-third ;
    top: -1%;
    right:-1%;
}
    


@keyframes spin {
    100%{transform: rotate(360deg);}
    
}


@keyframes done {
    0% {width: 100%;}

    100% {width: 0%; height: 0%;  }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}